{% extends "ABBundle::layout.html.twig" %}

{% block title %}Apie{% endblock %}
{% block content %}
    <div class="panel-shadow">
        <h3 style="text-align: center;"><strong>Trumpai apie projektą</strong></h3>
        "Academic Brother" - tai savanoriška, nepelno siekianti studentų iniciatyva. Jos tikslas - padėti paskutiniųjų klasių moksleiviams, planuojantiems rinktis studijas užsienyje, įstoti į Jungtinės Karalystės universitetus, kurie geriausiai atitinka jų gebėjimus ir poreikius. Projektu metu lietuviai studentai, studijuojantys geriausiuose JK universitetuose, patars moksleiviams dėl universiteto ir specialybės pasirinkimo, asmeniškai konsultuos motyvacinio laiško rašymo klausimais, papasakos, į ką atsižvelgti renkantis studijų vietą, apgyvendinimą, kaip spręsti finansinius klausimus, ir t.t. Projektas skirtas gabiems moksleiviams, kurie yra pasiryžę siekti aukštos kokybės išsilavinimo užsienyje. Praėjusiais metais projekte dalyvavo per šimtą moksleivių, didelė dalis jų gavo pakvietimus studijuoti iš Londono, Varviko, Edinburgo ir kitų geriausių JK universitetų.

        Net gabiems abiturientams dažnai būna sudėtinga apsispręsti, kur ir ką studijuoti, bei realistiškai įvertinti savo galimybes. Rengiantis išvykti studijuoti, labai svarbu gerai pažinti vietinę švietimo sistemą: dažnai moksleiviams iš Lietuvos nepavyksta įstoti ne dėl gabumų trūkumo, o dėl stojimo proceso neišmanymo. Todėl dalyvavimas "Academic Brother" projekte bus naudingas kiekvienam stojančiajam, suteiks vertingos patirties bei žinių ir padidins šansus įstoti į gerą universitetą, atitinkantį stojančiojo tikruosius gebėjimus ir norus.

        &nbsp;
        <h3 style="text-align: center;"><strong>Projekto eiga
            </strong></h3>
        Didelė dalis projekto veiklos ir bendravimo vyks internetu - el. laiškais ir diskusijų forumuose. II-ojo etapo metu, išreiškus ketinimą siekti studijų Jungtinėje Karalystėje registracijos metu, kiekvienas atrinktas moksleivis gaus prieigą prie "Academic Brother" mentorių sąrašo, kuriame ras dešimtis (o gal ir šimtus) studentų iš įvairiausių JK universitetų ir specialybių. Susisiekti su norimais mentoriais ir pasiklausti rūpimų klausimų bus <strong><em>paties moksleivio atsakomybė</em>.<em></em></strong> Kontaktai bus prieinami visiems projekto dalyviams.

        Gruodžio pabaigoje vyks bendras renginys Lietuvoje, kurio metu visi mentoriai ir moksleiviai susitiks didelėje mugėje. Ten mentoriai pristatys savo universitetus, taip pat vyks motyvacinių laiškų (<em>Personal Statement</em>) dirbtuvės. Planuojama, kad kiekvieną motyvacinį laišką peržiūrės po 2-3 mentorius, kas suteiks didelę naudą rašant kokybišką ir adekvatų galutinį variantą.

        Renginiui pasibaigus, kiekvienas moksleivis išsakys savo pageidavimus dėl mentoriaus, ir "Academic Brother" organizatoriai suskirstys mentorius bei moksleivius asmeniniam bendravimui. Jo metu mentorius toliau konsultuos moksleivį dėl motyvacinio laiško iki pat sausio 15 d., kai ateis UCAS paraiškos teikimo terminas.

        &nbsp;
        <h3 style="text-align: center;"><strong>Kas kada vyksta?
            </strong></h3>
        <ul>
            <li><em><strong>Rugsėjo 28</strong></em>: atidarymo renginys Kaune</li>
            <li><em><strong>Rugsėjo 28 - gruodžio 1</strong></em>5: moksleivių registracija</li>
            <li><em><strong>Rugsėjo 28 - gruodžio 15</strong></em>: mentorių registracija</li>
            <li><em><strong>Gruodžio pab.</strong><strong></strong></em>: Studijų mugė + moksleivių-mentorių paskirstymas</li>
            <li><em><strong>Gruodžio pab. - sausio 15</strong></em>: individualus darbas su mentoriais, <em>Personal Statement'ų</em> tobulinimas</li>
            <li><em><strong>Sausio 15</strong></em>: UCAS paraiškų padavimo paskutinė diena</li>
            <li><em><strong>Vasario-gegužės mėn.</strong></em>: universitetai skelbia stojimo rezultatus</li>
        </ul>
        &nbsp;
        <h3 style="text-align: center;"><strong>Kas gali dalyvauti?</strong></h3>
        <p lang="lt-LT"><strong>Moksleiviai</strong>. II etape gali dalyvauti tik 12 klasės (šiuo metu) moksleiviai arba vyresni, planuojantys stoti į Škotijos, Anglijos arba Londono universitetus, išskyrus Oksfordą bei Kembridžą. Atrenkant moksleivius į projektą, bus vertinama jų motyvacija ir potencialas, remiantis anketos duomenimis apie jų akademinius pasiekimus bei užklasinę veiklą. Registracijoje nurodomi duomenys bus naudojami atrankos, projekto komunikacijos tikslais bei atrenkant geriausiai moksleivio poreikius atitinkantį mentorių.<strong> </strong></p>
        <p lang="lt-LT"><em>Moksleivių registracija </em>vyksta rugsėjo 28 d. - gruodžio 15 d. Užsiregistruoti galite <a href="{{ path('pupil_registration') }}" target="_blank">ČIA</a>.</p>
        <p lang="lt-LT"><strong>Mentoriai</strong>. II etape gali dalyvauti geriausiuose Jungtinės Karalystės universitetuose studijuojantys arba studijas baigę mentoriai.</p>
        <p lang="lt-LT"><span style="color: #ff0000;">Dėmesio!</span> (2013.11.14) Persvarstę mentorių atrankos kriterijus, nusprendėme atsisakyti "The Guardian" reitingo kriterijaus. Reitingai dažnu atveju neatspindi universitetų ir kursų kokybės bei mentoriaus tinkamumo projektui. Todėl pakeitėme vertinimo kriterijų ir kviečiame registruotis mentoriais visus, studijuojančius <em>geriausiuose JK universitetuose, aukščiausios kokybės kursuose</em>. Savo ruožtu esant dideliam aplikacijų skaičiui pasiliekame galimybę taikyti atranką pagal tris kriterijus: 1) universiteto reputaciją 2) kurso kokybę ir 3) mentoriaus registracijos anketos kokybę.</p>
        <p lang="lt-LT">Registracijoje nurodomi duomenys bus viešai prieinami (išskyrus el. paštą ir gyvenamąją vietą), ja vadovaujantis moksleiviai rinksis savo pageidaujamus mentorius.</p>
        <em>Mentorių registracija</em> vyksta rugsėjo 28 d. - gruodžio 15 d. Užsiregistruoti galite <a href="{{ path('mentor_registration') }}" target="_blank">ČIA</a>.

        &nbsp;
        <h3 style="text-align: center;"><strong>Apie projektą: tikslai ir veiklos</strong></h3>
        <strong>Tikslas I:</strong> užtikrinti, kad gabiausi Lietuvos moksleiviai, stodami į užsienio universitetus, turėtų galimybę įgyti aukščiausios kokybės akademinį išsilavinimą, atitinkantį jų potencialą.

        <strong>Tikslas II:</strong> burti lietuvius studentus ir mokslininkus į platų akademinį tinklą.

        <strong>Veiklos:</strong>
        (a) informacijos apie studijų galimybes geriausiuose JK universitetuose sklaida;
        (b) asmeninės ir bendruomeninės moksleivių konsultacijos apie stojimų tvarką, pasiruošimą, gyvenimą ir mokslą JK;
        (c) susitikimai ir mugės, kurių metu pristatomi universitetai, kursai, koledžai, jų tvarka ir ypatybės;
        (d) stovykla (Oksbridžo etapas), kurios metu vyksta pasirengimas interviu, testams, motyvacinio laiško (<em>Personal Statement</em>) tobulinimas, asmeninis darbas su mentoriais.

        &nbsp;
        <h3 style="text-align: center;"><strong>Istorija</strong></h3>
        Projektas startavo 2012 m. vasarą Kembridžo universiteto lietuvių bendrijos (CULS) iniciatyva, o šiemet sparčiai plėtėsi, į organizatorių gretas oficialiai įsijungus ir Oksfordo universiteto lietuvių bendrijai (OULS) bei užmezgus ryšius su giminingu „LT Big Brother“ mentorystės projektu. 2012-2013 m. į projektą užsiregistravo daugiau nei 100 moksleivių iš Lietuvos, kuriems sutiko padėti virš šimto mentorių iš geriausių JK universitetų. Projekto eigoje vyko trys susitikimai, intensyvus mentorių bei moksleivių bendravimas ir konsultavimas el. paštu ir tiesiogiai, pasiruošimas stojimo procesams. Daugiau nei trečdalis projekto dalyvių, bandžiusiųjų stoti į Oksbridžą, gavo pakvietimus ten studijuoti. Taip pat daugelis dalyvių įstojo į Londono, Edinburgh'o, Durham'o, Warwick'o ir kitus žymius universitetus. Balandžio mėnesį vykęs baigiamasis renginys Kaune pažymėjo sėkmingą pirmųjų metų pabaigą.

        2013-2014 m.m. sėkmingai praėjo I-asis projekto etapas, kurio metu moksleiviams buvo teikiama pagalba stojant į Oksfordo ir Kembridžo universitetus. Sėkmingai vykęs atidarymo renginys, vėliau - dviejų dienų stovykla-dirbtuvės, kurių metu moksleiviai buvo ruošiami interviu, motyvacinio laiško ir papildomų testų rašymui. Netrukus paaiškės ir stojimų rezultatai.
        <h3 style="text-align: center;"><strong>Atidaromasis renginys (<span style="text-decoration: underline;">2013 m. renginys baigėsi</span>)
            </strong></h3>
        <p lang="lt-LT">Renginio tikslas - išsamiai ir sistemingai papasakoti apie studijas Jungtinėje Karalystėje, taip padedant moksleiviui išsirinkti regioną, universitetą bei kursą. Taip pat tai bus puiki proga susipažinti su kitais projekto dalyviais bei mentoriais.</p>
        <p lang="lt-LT">Renginio data: <strong>rugsėjo 28 d. 11:00-14:00 val.
            </strong>Renginio vieta: <strong>VDU Politikos mokslų ir diplomatijos fakultetas, Gedimino g. 44, 202 auditorija.</strong></p>
        <p lang="lt-LT">Preliminari programa: UCAS sistemos apžvalga, II-ojo projekto etapo pristatymas, studijų Lietuvoje ir JK palyginimas, studijų skirtinguose JK regionuose (Anglija, Škotija, Londonas) palyginimas, rekomendacijos dėl pasiruošimo stojimams. Renginį ves studijuojantys ar neseniai studijas baigę JK studentai.</p>

        <h3 style="text-align: center;"></h3>
        <h3 style="text-align: center;"><strong>Studijų mugė II-ojo etapo dalyviams
            </strong></h3>
        Moksleiviai, dalyvaujantys projekte, bus pakviesti į didįjį II-ojo etapo renginį - Studijų mugę. Ji vyks gruodžio mėn. pabaigoje. Joje mentoriai pristatinės savo universitetus, vėliau laisvu formatu vyks motyvacinių laiškų (<em>Personal Statement</em>) tobulinimas ir konsultacijos su mentoriais. Taip pat bus pasakojama apie UCAS stojimų sistemą, atsakoma į kilusius klausimus dėl stojimo, studijų ar universitetų pasirinkimo. Bus galimybė susipažinti su geriausių Jungtinės Karalystės universitetų lietuvių studentų bendruomene, susirasti naujų draugų bei pažinti studijų užsienyje kultūrą bei galimybes iš arčiau.

        Numatytas renginio laikas: <strong>gruodžio pabaiga</strong>. Tikslesnė informacija ir programa pasirodys vėliau.
        <h3 style="text-align: center;"><strong>Ateitis
            </strong></h3>
        Projektas vyksta jau antrus metus, ir tikimės, kad tai taps kasmetine iniciatyva. Kitais metais planuojama plėstis į vėlesnes studijų pakopas ir/ar į kitas šalis, bendradarbiaujant su jų bendrijomis.

        &nbsp;
        <h3 style="text-align: center;"><strong>Projekto organizatoriai</strong>
            <a href="http://www.cu-ls.org" target="_blank"><img class="aligncenter" title="CULS EN version" src="http://www.academicbrother.lt/wp-content/uploads/2012/07/CULS-EN-version-300x115.jpg" alt="" width="300" height="115" /></a></h3>
        <a href="www.ou-ls.org" target="_blank"><img class="aligncenter" title="OULS logo 3" src="http://www.academicbrother.lt/wp-content/uploads/2013/06/OULS-logo-3-300x192.png" alt="" width="240" height="154" /></a>

        &nbsp;
        <h4 style="text-align: center;"><strong>Projekto partneriai</strong></h4>
        <img class="aligncenter" title="logoLTBB" src="http://www.academicbrother.lt/wp-content/uploads/2012/07/logoLTBB.png" alt="" width="242" height="75" />

        &nbsp;
    </div>
{% endblock %}
