{% extends "ABBundle::layout.html.twig" %}
{% block title %}Pradžia{% endblock %}
{% block content %}
    <div class="panel-shadow">
                    <div style="text-align: center">
                        <h3>„Academic Brother“ – mentorystės projektas, padedantis Lietuvos moksleiviams įstoti į geriausius užsienio universitetus.</h3>
                        <p class="lead">Siekiame padėti gabiems ir motyvuotiems Lietuvos moksleiviams, nusprendusiems stoti į užsienio universitetus, gauti aukščiausios kokybės išsilavinimą, atitinkantį jų akademinį potencialą; tuo pačiu buriame tarptautinę lietuvių studentų bendruomenę. Projekte dalyvauja užsienyje studijuojantys lietuviai, konsultuojantys ir visapusiškai padedantys paskutiniųjų klasių moksleiviams stojimo procesų metu.</p>
                    </div>

                    <div class="row marketing">
                        <div class="col-lg-6">
                            <h4>Projekto eiga 2013-14</h4>
                            <p>
                            <table class="table">
                                <tr>
                                    <td>09 28</td>
                                    <td>II-ojo etapo atidarymo renginys</td>
                                </tr>
                                <tr>
                                    <td>
                                    10 15 - 12 15
                                    </td>
                                    <td>
                                    mentorių registracija
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    11 15 - 12 15
                                    </td>
                                    <td>
                                    moksleivių registracija
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    12 27/28
                                    </td>
                                    <td>
                                    Renginys Lietuvoje
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    12 15 - 01 15
                                    </td>
                                    <td>
                                    moksleivių ir mentorių bendravimas
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    01 15
                                    </td>
                                    <td>
                                    UCAS paraiškos teikimo terminas
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                          <h4>Organizatoriai</h4>
                          <p><img width=150 src="{{ asset('bundles/ab/images/CULS-EN-version.jpg') }}" alt="some_text" style="display: block"/>
                          <img width=150 src="{{ asset('bundles/ab/images/OULS-logo-3.png') }}" alt="some_text"/></p>
                          <h4>Partneriai</h4>
                          <p><img width=200 src="{{ asset('bundles/ab/images/logoLTBB.png') }}" alt="some_text"/></p>
                        </div>
                    </div>
    </div>
                {% endblock %}
