{% block subject %}
    {% autoescape false %}
    Academic Brother: tavo registracija patvirtinta!
    {% endautoescape %}
{% endblock %}
{#{% block body_text %}#}
    {#{% autoescape false %}#}
    {#{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}#}
    {#{% endautoescape %}#}
{#{% endblock %}#}
{% block body_html %}
Sveikiname!<br />
<br />
Mūsų sistemoje buvo sukurta Tavo prisijungimo paskyra:<br />
<br />
Prisijungimo vardas: {{ email }}<br />
Slaptažodis: {{ password }}<br />
<br />
Iki gruodžio pabaigos, kada vyks pagrindinis antrojo etapo renginys, projekto veikla ir mentorystė vyks nuotoliniu būdu: asmeniniais laiškais bei diskusijomis Facebook grupėje.<br />
<br />
Prisijungęs prie <a href="{{ path('fos_user_security_login') }}">puslapio</a> puslapio aukščiau nurodytais duomenimis Tu gali pasiskaityti detalius mentorių aprašymus ir parašyti jiems asmeninį laišką bei taip plėsti savo akademinį tinklą. Identišku budu su Tavimi galės susiekti ir moksleiviai, kuriems padėti yra mūsų pagrindinis tikslas! Labai ačiū už Tavo pagalbą padedant jiems spręsti svarbius savo karjeros klausimus.<br />
<br />
Taip pat kviečiame prisijungti Facebook grupės ir dalyvauti bendrose diskusijose, dalintis mintimis su kitais moksleiviais ir mentoriais. Norėdami prisijungti sekite šia nuoroda: <a href="https://www.facebook.com/groups/1430196147193777/">https://www.facebook.com/groups/1430196147193777/</a><br />
<br />
Jei kils kitų klausimų, rašyk mums <a href="mailto:academic.brother@gmail.com">academic.brother@gmail.com</a><br />
<br />
Sėkmės ir produktyvaus bendravimo!<br />
Academic Brother komanda<br />
<br />
P.S. Tavo elektroninis pašto adresas nebus matomas kitiems projekto dalyviams, tačiau prisijungę nariai galės siųsti laiškus Tavo registracijoje nurodytu el.paštu per mūsų puslapį.
{% endblock %}




